.dsg_animate_hover{
    padding: 0;
    margin: 0;
}
.dsg_animate_hover a{
    font-size: 1.3em;
    font-weight: lighter;
    text-decoration:none;
    padding: 24px 20px;
    margin: 0;
    display: block;
    transition: 0.3s;
}
.dsg_animate_hover:hover a,
.dsg_animate_hover:active a{
    color:#ffffff;
    background-color:#E9041E;
} 